/* 
========================================================================== 
Mobile-first Design Layout for Project 7 Treehouse "WebApp"
========================================================================== 
*/

/* Universal Attributes */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
    font-family: Georgia, 'Times New Roman', Times, serif;

}

body {
    height: 100vh;

}

.bottom-border {
    border-bottom: 2px solid #cccccc;
    padding-bottom: 0.5rem;
}

/* centering */



/* Grid Stuff */

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60px 70px auto;
    grid-template-areas: "head"
                         "nav"
                         "main";

}



/* 
================================================
Grid area: head
Includes WebApp title, notifications, user info
================================================
*/

header {
    background-color: #7477BF;
    grid-area: head;

}



/* header-container includes WebApp title, bell svg, user image, and user name */
.header-container {
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    height: 80px;
    flex-grow: 1;

}

.header-container h1 { /* WebApp title */
    color: white;
    font-weight: lighter;
    font-size: 1.5rem;
    padding-left: 0.5rem;
    margin: 0;

    flex-grow: 1;
    

}

/* bell icon in header */



.header-container svg { 
    height: 30px;
    width: auto;
    flex-grow: 1;
    fill: white;
    padding-right: 0.5rem;
    margin-right: 0.5rem;

}

.divider {
    border-right: solid 2px cornsilk;
    height: 30px;
    width: auto;
    fill: white;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
}

@keyframes motionBell {
    30% {
        fill: pink;
        transform: scale(1.4);
    }
    50% {
        fill: pink;
        transform: rotate(30deg);
    }
    60% {
        fill: pink;
        transform: rotate(-30deg);
    }
    100% {
        fill: pink;
        transform: scale(1);
    }
}



.bell svg:hover {
     animation: motionBell 1s linear backwards;
}

.active-bell {
    width: 7px;
    height: 7px;
    background-color: lightgreen;
    border-radius: 50%;
    position: absolute;
    margin-left: 25px;
    margin-top: 1px;
}

.dropdown-menu {
    display: none; /* by default, don't show menu items */
    background-color: #7477BF;
    color: white;
    border: 2px solid white;
    position: absolute;
    min-width: 5rem;
    z-index: 1;

}
.dropdown-menu p{
    border-bottom: 1px solid lightgreen;
}


/*user image and text */
.user-image {
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    border: solid 1px cornsilk;
    
    

}


.header-container h3 { /* Student Name */
    color: white;
    padding: 0.2rem;
    font-weight: lighter;

}

/* Navigation Bar */

nav {
    background-color: #4D4C72;
    justify-content: center;
    grid-area: nav;
    display: flex;
    

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1.5em;

}

nav svg{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-self: center;
   

    height: auto;
    width: 2.5rem;
    fill: white;

    margin-left: 1.5rem;



}

/* 
================================================
Grid area: main
Includes: 
Dashboard and Traffic Line Graph
 all charts,
Social Stats Cards: Facebook, Instagram, Twitter
messages
settings
================================================
*/

main {
    background-color: white; /* only shows up if height: 100%; in grid container */
    grid-area: main;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;

}

/* divs within main */

/*
======================================================
Main Content - Dashboard, Alert Banner, and Traffic Charts/Graphs
======================================================
*/
.dashboard {
    width: 100%;
    background-color:#F7F7F7;
}

.dashboard h2{
    background-color: white;
    width: 40%;
}
.alert{
    color: white;
    background-color: #7477BF;
    border-radius: 10px;
    border: 2px solid #7477BF;
    width: 100%;
    display: flex;
    justify-content:space-between;

}

/* first traffic chart */
.nav-traffic {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-traffic li {
    display: block;
    color: black;
    background-color: white;
    text-align: right;
    float: right;
    padding: 8px;

}
.nav-traffic li:hover {
    color: white;
    background-color: lightgreen;
    border-radius: 15px;
    padding-top: 8px;
    padding-bottom: 8px;


}


canvas { /* may help keep traffic charts confined */
    max-width: 100%;
  }

  /* the specific charts within the divs with same name*/
#traffic-chart,
#traffic-daily-chart,
#mobile-user-chart {
    background: white;
    width: 70%;
    

}

/* first traffic chart div, the line graph */
.traffic-chart {
    width: 100%;
}
/* second traffic chart div, the bar graph */
.traffic-daily {
    width: 100%;
}

/* third chart div, doughnut style for mobile users */
.mobile-users {
    width: 100%;
}

/* =============================================
Social Stats Cards: Facebook, Instagram, Twitter

Social -> socialCard (svg and stats)
==============================================*/

.social {
    width: 100%;
    margin: 1rem;
    
}

.socialCard {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid rgb(190, 188, 188);
    border-radius: 5px;
    margin: 1rem auto;
    padding: 0.5rem;
    width: 60%;
    background-color: #fafafa;


}

.social svg {
    height: auto;
    width: 2.5rem;
    fill: #7477BF;
    margin-left: 1.5rem;
    justify-content: center;
    align-items: center;
}

.stats {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}




/* =============================================
New Members
==============================================*/


.new-members {
    display:flex;
    justify-content: flex-start;
    align-content: center; 
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  

}

.member {
    margin: 1rem auto;
    width: 90%;
    text-align: center;
    padding-bottom: 0.5rem;
    
}

.member img {
    border-radius: 100%;
    height: 5rem;
    width: auto;


}

/* =============================================
Recent Activity
==============================================*/

.recent-activity {
    display:flex;
    justify-content: flex-start;
    align-content: center; 
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.activityCard {
    display: block;
    margin: 1rem auto;
    width: 90%;
    text-align: center;
    padding-bottom: 0.5rem;

}

.activityCard img {
    border-radius: 100%;
    height: 5rem;
    width: auto;

}

/* =============================================
Messages
==============================================*/

.message {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1rem auto;
    width: 100%;
    text-align: center;
    padding-bottom: 0.5rem;
}

.message form {
    width: 90%;
    border-radius: 10px;
    margin-top: 1rem;
}

#search-user{
    width: 100%;
    height: 3rem;
    color: #c2bebe;
    border-radius: 5px;
    border: solid 1px #cccccc;
    background-color: #f5f5f5;
    margin-bottom: 0.5rem;
    
  }

  /*===========================================================
  Template code from 
  https://www.w3schools.com/howto/howto_js_autocomplete.asp
  with minor changes.
  Autocomplete for Search User input box with 
  id="search-user"
  ============================================================*/

  /*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: #7477BF !important; 
    color: #ffffff; 
  }


  #message-user {
    width: 100%;
    height: 5rem;
    color: #c2bebe;
    border-radius: 5px;
    border: solid 1px #cccccc;
    background-color: #f5f5f5;
    margin-bottom: 0.5rem;

  }

#send-message {
    background-color: #7477BF;
    cursor: pointer;
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    border: solid 1px #cccccc;
    color: white;

}

/* =============================================
Settings
==============================================*/

.settings {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1rem auto;
    width: 100%;
    text-align: center;
    padding-bottom: 0.5rem;
}

/* Switches */

.flex-toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}
.toggle-item {
    width: 90%;
    margin: 1rem auto;

}








#timezone {
    width: 90%;
    height: 3rem;
    color: #c2bebe;
    border-radius: 5px;
    border: solid 1px #cccccc;
    background-color: #f5f5f5;
    margin-bottom: 0.5rem;

}

.save {
    background-color: #7477BF;
    cursor: pointer;
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
    border: solid 1px #cccccc;
    color: white;
    margin-bottom: 0.5rem;

}

.cancel {
    background-color: #999999;
    cursor: pointer;
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
    border: solid 1px #cccccc;
    color: white;

}








/* 
========================================================================== 
Media Queries for Tablet and Desktop views
========================================================================== 
*/

/* --------------------------- 1024px+ Wide Screens */

@media screen and (min-width: 1024px){

    .grid-container {
        display: grid;
        grid-template-columns: 80px 1fr; /* nav is 80px, main is 1fr */
        grid-template-rows: 60px 1fr; /*header is 60px, rest is 1fr */
        grid-template-areas: "head head"
                             "nav main";

    }



    nav {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    nav svg {
        padding-top: 15px;

    }

.dashboard h2 {
    max-width: 200px;
    height: 60px;
}

    .traffic-daily {
        border-bottom: 2px solid #cccccc;
        padding-bottom: 0.5rem;
        
    }
    

.traffic-daily,
.mobile-users,
.new-members,
.recent-activity,
.message,
.settings {
    width: 50%;
    margin: 0;
    border: solid 2px pink;
    

}

#traffic-chart {
    max-height: 400px;
    
}

#traffic-daily-chart,
#mobile-user-chart{
    max-height: 300px;
    
}

.social-flex {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.socialCard {
    width: 40%;
    margin: 10px;
}






}


/* --------------------------- 768px+ Wide Screens */
@media screen and (min-width: 768px){
 
    .grid-container {
        display: grid;
        grid-template-columns: 80px 1fr; /* nav is 80px, main is 1fr */
        grid-template-rows: 60px 1fr; /*header is 60px, rest is 1fr */
        grid-template-areas: "head head"
                             "nav main";

    }



    nav {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    nav svg {
        padding-top: 15px;

    }

.dashboard h2 {
    max-width: 200px;
    height: 60px;
}

    .traffic-daily {
        border-bottom: 2px solid #cccccc;
        padding-bottom: 0.5rem;
        
    }
    

.traffic-daily,
.mobile-users
 {
    width: 50%;
    margin: 0;
    border: solid 2px pink;

}
.new-members,
.recent-activity,
.message,
.settings {
    margin: 0;
    border: solid 2px pink;
}

#traffic-chart {
    max-height: 400px;
    
}

#traffic-daily-chart,
#mobile-user-chart{
    max-height: 300px;
    
}

.social-flex {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.socialCard {
    width: 40%;
    margin: 10px;
}


}