/* 
========================================================================== 
Mobile-first Design Layout for Project 7 Treehouse "WebApp"
========================================================================== 
*/

/* Universal Attributes */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  

}

body {
    height: 100vh;

}

/* Grid Stuff */

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 70px 1fr;
    grid-template-areas: "head"
                         "nav"
                         "main";

}

/* 
================================================
Grid area: head
Includes WebApp title, notifications, user info
================================================
*/

header {
    background-color: #7477BF;
    grid-area: head;

}



/* header-container includes WebApp title, bell svg, user image, and user name */
.header-container {
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    height: 80px;
    flex-grow: 1;

}

.title { /* WebApp title */
    color: white;
    flex-grow: 1;
    margin-top: 0;

}

/* bell icon in header */
.header-container svg { 
    height: 40px;
    width: 20px;
    flex-grow: 1;
    fill: white;
    border-right: solid 2px cornsilk;

}
/*user image and text */



.user-image {
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    
    border: solid 1px cornsilk;

}

/* Navigation Bar */

nav {
    background-color: #4D4C72;
    justify-content: center;
    grid-area: nav;
    display: flex;
    

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1.5em;

}

nav svg{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-self: center;
   

    height: auto;
    width: 2.5rem;
    fill: white;


}

/* Main Content */

main {
    background-color: blue;
    grid-area: main;
    overflow: auto;

}

/* divs within main */

.dashboard {
    background-color: tan;
}

.traffic-chart {
    background-color: cornflowerblue;
}

.traffic-daily {
    background-color: cornsilk;
}

.mobile-users {
    background-color: crimson;
}

.social {
    background-color: teal;
}
.new-members {
    background-color: thistle;
}

.recent-activity {
    background-color: palegoldenrod;
}

.message {
    background-color: palegreen;
}

.settings {
    background-color: papayawhip;
}





/* 
========================================================================== 
Media Queries for Tablet and Desktop views
========================================================================== 
*/

/* --------------------------- 1024px+ Wide Screens */

@media screen and (min-width: 1024px){

    .grid-container {
        grid-template-columns: 80px 1fr; /* nav is 80px, main is 1fr */
        grid-template-rows: 60px 1fr; /*header is 60px, rest is 1fr */
        grid-template-areas: "head head"
                             "nav main";

    }

    nav {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

}


/* --------------------------- 768px+ Wide Screens */
@media screen and (min-width: 768px){
    .grid-container {
        grid-template-columns: 80px 1fr; /* nav is 80px, main is 1fr */
        grid-template-rows: 60px 1fr; /*header is 60px, rest is 1fr */
        grid-template-areas: "head head"
                             "nav main";

    }

    nav {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }
}
